**/.git
.idea
Dockerfile*
build
libs/boost/**/doc
libs/boost/**/test
libs/boost/tools/boostbook
libs/cairo/doc
libs/cairo/perf
libs/cairo/test
libs/cgal/**/demo
libs/cgal/**/doc
libs/cgal/**/test
libs/cgal/Data
libs/cgal/GraphicsView/demo
libs/eigen/unsupported
libs/glib/**/tests
libs/glib/docs
libs/glib/po
libs/harfbuzz/test
libs/lib3mf/AutomaticComponentToolkit
libs/lib3mf/Libraries/libressl/man
libs/lib3mf/Libraries/libressl/tests
libs/lib3mf/Tests
libs/lib3mf/submodules/libzip
libs/libexpat/testdata
libs/libxml2/result
libs/libxml2/test
libs/libzip/man
libs/libzip/regress
libs/mpfr/tests
libs/openscad/tests
libs/zlib/contrib
runtime